In [58]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import csv

Datadir=Path(r'D:\studydata\Masterarbeit\Data\withoutR')
filepath=[]
for file in os.listdir(Datadir):

   filepath.append(os.path.join(Datadir,file))

In [59]:

filepath[0]

folderpath=Path(r'D:\studydata\Masterarbeit\Data\withoutR')
df=pd.read_csv(filepath[0])
#for file in filepath:
# df.drop("Rohdaten", axis=1, inplace=True)
# df.to_csv(os.path.join(folderpath,os.path.basename(filepath[0])), index=False)

In [65]:
columns_name=df.columns

Index(['ID', 'Schadensklasse', 'Mittelwert_x', 'Mittelwert_y', 'Mittelwert_z',
       'Variance_x', 'Variance_y', 'Variance_z', 'Effektivwert_x',
       'Effektivwert_y', 'Effektivwert_z', 'Standardabweichung_x',
       'Standardabweichung_y', 'Standardabweichung_z', 'Woehlbung_x',
       'Woehlbung_y', 'Woehlbung_z', 'Schiefe_x', 'Schiefe_y', 'Schiefe_z',
       'Mittlere_Absolute_Abweichung_x', 'Mittlere_Absolute_Abweichung_y',
       'Mittlere_Absolute_Abweichung_z', 'Zentrales_Moment_x',
       'Zentrales_Moment_y', 'Zentrales_Moment_z', 'Median_x', 'Median_y',
       'Median_z', 'Timestamp'],
      dtype='object')

In [88]:
datapath=Path(r'D:\studydata\Masterarbeit\Data\withoutR')
savepath=r"D:\studydata\Masterarbeit\Data\test"

filelist=os.listdir(datapath)
for file in filelist:
    filepath=os.path.join(datapath,file)
    df=pd.read_csv(filepath)
    # save every 10 rows in a new file
    if len(df)>100:
        for i in range(0, len(df), 10000):
            filename = os.path.basename(filepath).replace('.csv','_'+str(i)+'.csv')
            df.iloc[i:i+10000].to_csv(os.path.join(savepath,filename), index=False)

In [75]:
# delete .csv from the file name

os.path.basename(filepath[0]).replace('.csv','')

'axis1_training_table'

In [42]:
#create a folder
foldername='test'
folderpath=os.path.join(Datadir,foldername)
os.makedirs(folderpath,exist_ok=True)

In [43]:
#for file in filepath:
df=pd.read_csv(file)
df.drop("Rohdaten", axis=1, inplace=True)
df.to_csv(os.path.join(folderpath,os.path.basename(file)), index=False)

In [45]:
file_name = os.listdir(Datadir)
file_name

['axis1.csv',
 'axis2_demo_tablepart1.csv',
 'axis2_demo_tablepart2.csv',
 'axis2_demo_tablepart3.csv',
 'axis2_demo_tablepart4.csv',
 'axis2_demo_tablepart5.csv',
 'axis2_demo_tablepart6.csv',
 'axis2_demo_tablepart7.csv',
 'axis2_demo_tablepart8.csv',
 'test']

In [ ]:
os.path.getsize()

In [ ]:
filedir=os.listdir(Datadir)


filedir=pd.DataFrame(filedir)
df=filedir[0].str.split('_',expand = True)
df.columns = ['Name', 'Code', 'Age']
df['Code']=df['Code'].astype(int)
df_sorted = df.sort_values(by='Code', ascending=True)

In [ ]:
df_sorted

      Name     Code          Age
5    part1        0   100000.csv
6    part2   100000   200000.csv
7    part3   200000   300000.csv
8    part4   300000   400000.csv
9    part5   500000   700000.csv
10   part6   700000  1000000.csv
11   part7  1000000  1200000.csv
12   part8  1200000  1400000.csv
13   part9  1400000  1600000.csv
0   part10  1600000  1800000.csv
1   part11  1800000  2000000.csv
2   part12  2000000  2200000.csv
3   part13  2200000  2400000.csv
4   part14  2400000  2489581.csv

In [ ]:
table=[]
for i in filedir:
    table.append(np.char.split(i,sep='_'))
    
table[0].tolist()